%p= @current_user.inspect
%p= cookies[:current_jwt]

<script src="https://unpkg.com/htm@2.2.1" crossorigin></script>
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>

:css
  .done {
    text-decoration: line-through;
  }

:javascript
  document.addEventListener("DOMContentLoaded", () => {
    var projectsSettingsContainer = document.querySelector("#projects-setup-container");

    const html = htm.bind(React.createElement);

    // var projectUid = window.location.pathname.split("/")[1]

    class TodoApp extends React.Component {
      constructor(props) {
        super(props)
        this.state = {
          items: [
            { id: 0, text: "Learn JavaScript", done: false },
            { id: 1, text: "Learn React", done: false },
            { id: 2, text: "Play around in JSFiddle", done: true },
            { id: 3, text: "Build something awesome", done: true }
          ]
        }
      }

      sayHello(itemId) {
        // this.state.items.find(item => item.id == itemId);
        var index = this.state.items.findIndex(item => item.id == itemId);
        this.state.items[index].done = !this.state.items[index].done;

        this.setState({ "items": this.state.items });
      }

      render() {
        // var olChildrenLis = this.state.items.map(function(item) {
        //   var span = React.createElement("span", { "class": (item.done ? "done" : "") }, item.text);
        //   var input = React.createElement("input", { "type": "checkbox", "checked": (item.done) })
        //   var label = React.createElement("label", null, input, span);
        //   var li = React.createElement('h2', { "key": item.id }, label);
        //
        //   return li;
        // });
        //
        // var h2 = React.createElement('h2', null, "Todos:");
        // var ol = React.createElement('ol', null, olChildrenLis);
        // var div = React.createElement('div', null, h2, ol);
        //
        // return div;

        return html`
          <div>
            <h2>Todos:</h2>
              <ol>
                ${this.state.items.map((item) => (
                  html`
                    <li key=${item.id}>
                      <input type="checkbox" checked=${item.done} onClick=${() => this.sayHello(item.id)} />
                      <span className=${item.done ? "done" : ""}>${item.text}</span>
                    </li>
                  `
                ))}
              </ol>
            </div>
          `;

        // return (
        //   <div>
        //     <h2>Todos:</h2>
        //     <ol>
        //     {this.state.items.map(item => (
        //       <li key={item.id}>
        //         <label>
        //           <input type="checkbox" disabled readOnly checked={item.done} />
        //           <span className={item.done ? "done" : ""}>{item.text}</span>
        //         </label>
        //       </li>
        //     ))}
        //     </ol>
        //   </div>
        // )
      }
    }

    var todoApp = React.createElement(TodoApp);

    ReactDOM.render(todoApp, projectsSettingsContainer);
  });


#projects-setup-container
